body{
    background-color: black;
}

#manipulate{
    color: white;
    background-color: green;
    font-size: 20px;
}

/* Code for quiz */

.txt{
    color: white;
}

.seperator{
    background-color:  rgba(160, 220, 144, 0.723);
}

#finish{
    background-color: rgba(55, 255, 0, 0.716);
    color: rgba(0, 1, 13, 0.918);
}