@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: Q 1; }
  }  

.fade-in-image { 
  animation: fadeIn 5s; 
  visibility: visible;
  text-align: center;
}

body{
    padding: 30px;
    background-color: black;
}


h1{
  font-size: 35px;
  color: yellow;
  text-decoration: underline;
  font-weight: bold;
  
}

p, h2, li, h3, h4, span{
  font-size: 25px;
  color: white;
}

td{
  font-size: 25px;
  padding: 25px;
}

#startQuiz{
  border-radius: 10px;
  margin-left: 100px;
  background-color: lightgreen;
  padding: 5px;
  padding-right: 7px;
}

#startQuiz>a{
  text-decoration: none;
  font-size: 20px;
  color: black;
  font-weight: bold;
}


header {
  background-color: #1F2833;
  color: #66FCF1;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center; /* Vertically center align items */
}

.logo img {
  height: 50px;
}

nav ul {
  list-style-type: none;
  display: flex;
  align-items: center; /* Vertically center align items */
}

nav ul li {
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0; /* Remove right margin from the last li */
}

nav ul li a {
  text-decoration: none;
  color: #66FCF1;
  padding: 10px;
  transition: background-color 0.3s ease;
}

nav ul li a:hover {
  background-color: #0B0C10;
}

.right-links {
  display: flex;
  align-items: center; /* Vertically center align items */
}

.right-links button {
  background-color: #2ECC71;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 10px;
}

.right-links button:hover {
  background-color: #27AE60;
}

.mode-switch button {
  background-color: #3498DB;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.mode-switch button:hover {
  background-color: #2980B9;
}

.btn-login,
.btn-signup {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-login:hover,
.btn-signup:hover {
  background-color: #45a049;
}

.btn-signup {
  background-color: #008CBA; /* Blue */
}

.btn-signup:hover {
  background-color: #0073e6;
}
